body {
font-family: 'Roboto', sans-serif;
color: #2E2F42;

}

:root {
    --primary-black-color: #2E2F42;
    --secondary-black-color:#434455;
    --primary-white-color:#F4F4FD;
    
  }
/**-------------------HEADER---------------------------*/


.header {}

.header-navigation {}

.header-logo {
    font-family: 'Raleway';
    font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-decoration: none;
        color: var(--primary-black-color)
        
}

.header-logo span {

    color: #4D5AE5;
}

.header-menu {
    list-style-type: none;
}

.header-menu-item {
  
}

.header-menu-link {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-decoration: none;
        color: var(--primary-black-color)
}
.header-menu-link:hover, .header-menu-link:focus {
    color: #404BBF;
}



.contacts {

}

.contacts-list {
    list-style-type: none;
}

.contacts-item {}

.contacts-link {
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-decoration: none;
        color: var(--secondary-black-color)

}
.contacts-link:hover, .contacts-link:focus {
    color: #404BBF; 
}
/**----------------------MAIN---------------------------*/
.hero {
 
}
.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.btn {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color:#FFFFFF;
}


.benefits {
}
.benefits-list {
    list-style-type: none;
}
.benefits-list-item {
}
.benefits-item-subtitle {
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--primary-black-color)
}
.benefits-item-text {
    font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--secondary-black-color)
}


.activity-title {
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--primary-black-color);
}
.activity-list {
    list-style-type: none;
}
.activity-list-item {
}
.activity-list-image {
}


.team {
}
.team-title {
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--primary-black-color)
}
.team-list {
    list-style-type: none;
}
.team-list-item {
}
.team-item-name {
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--primary-black-color)
}
.team-item-prof {
    font-size: 16px;
line-height: 1.5px;
letter-spacing: 0.02em;
color: var(--secondary-black-color)
}


/**-----------------------FOOTER--------------------------*/
.footer-logo {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--primary-white-color)
}

.footer-logo span {

    color: #4D5AE5;
}

.footer-text {
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--primary-white-color)
}
/**-----------------------PORTFOLIO HTML--------------------------*/
.buttons-list {
    list-style-type: none;
}
.buttons-list-item {
}
.buttons-list-btn {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color: #4D5AE5;
}
.buttons-list-allbtn {
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color:#FFFFFF;
}


.portfolio-list {

    list-style-type: none;
}
.portfolio-item {
}
.portfolio-item-title {
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--primary-black-color)
}
.portfolio-item-type {
    font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--secondary-black-color)
}